In [154]:
"""Docstring"""

import csv
import collections
import re

#Read Data
def readdata():
    # This function reads data from the original dataset
    with open('all_stocks_5yr.csv') as fp:
        reader = csv.reader(fp)
        data = list(reader)
    return data

def assetlist():
    # This function returns a set of tickers of S&P500 stocks
    n = readdata()
    k = [ i[6] for i in n]
    return set(k)

assetlist = assetlist() # A list of all stocks in the dataset for future reference
dataset = readdata() # The original dataset for future reference
data = dataset[1:] # The original dataset without header for future reference

In [100]:
import data_analysis

================================================================================
Missing Values
================================================================================
Missing values for: "date"
Empty DataFrame
Columns: [date, open, high, low, close, volume, Name]
Index: []


Missing values for: "open"
              date  open   high    low     close   volume  Name
82949   2017-07-26   NaN    NaN    NaN   69.0842        3   BHF
165734  2015-07-17   NaN  88.76  88.24   88.7200  2056819   DHR
165857  2016-01-12   NaN    NaN    NaN   88.5500        0   DHR
205076  2015-07-17   NaN  48.49  47.85   47.9200  1246786    ES
239832  2016-07-01   NaN    NaN    NaN   49.5400        0   FTV
434379  2015-07-17   NaN  47.31  46.83   46.9900  1229513     O
434502  2016-01-12   NaN    NaN    NaN   52.4300        0     O
478594  2015-06-09   NaN    NaN    NaN  526.0900    12135  REGN
558213  2016-04-07   NaN    NaN    NaN   41.5600        0    UA
581906  2015-05-12   NaN    NaN    NaN  124.0800   569747  VRTX
598236  2015-06-26   NaN    NaN    NaN   61.9000      100   WRK


Missing values for: "high"
              date  open  high  low     close  volume  Name
82949   2017-07-26   NaN   NaN  NaN   69.0842       3   BHF
165857  2016-01-12   NaN   NaN  NaN   88.5500       0   DHR
239832  2016-07-01   NaN   NaN  NaN   49.5400       0   FTV
434502  2016-01-12   NaN   NaN  NaN   52.4300       0     O
478594  2015-06-09   NaN   NaN  NaN  526.0900   12135  REGN
558213  2016-04-07   NaN   NaN  NaN   41.5600       0    UA
581906  2015-05-12   NaN   NaN  NaN  124.0800  569747  VRTX
598236  2015-06-26   NaN   NaN  NaN   61.9000     100   WRK


Missing values for: "low"
              date  open  high  low     close  volume  Name
82949   2017-07-26   NaN   NaN  NaN   69.0842       3   BHF
165857  2016-01-12   NaN   NaN  NaN   88.5500       0   DHR
239832  2016-07-01   NaN   NaN  NaN   49.5400       0   FTV
434502  2016-01-12   NaN   NaN  NaN   52.4300       0     O
478594  2015-06-09   NaN   NaN  NaN  526.0900   12135  REGN
558213  2016-04-07   NaN   NaN  NaN   41.5600       0    UA
581906  2015-05-12   NaN   NaN  NaN  124.0800  569747  VRTX
598236  2015-06-26   NaN   NaN  NaN   61.9000     100   WRK


Missing values for: "close"
Empty DataFrame
Columns: [date, open, high, low, close, volume, Name]
Index: []


Missing values for: "volume"
Empty DataFrame
Columns: [date, open, high, low, close, volume, Name]
Index: []


Missing values for: "Name"
Empty DataFrame
Columns: [date, open, high, low, close, volume, Name]
Index: []


================================================================================
Suspicious open close gap
================================================================================
              date    open      high       low    close     volume Name  \
39639   2016-04-22    3.19    3.9900    3.1800    3.990  143265305  AMD
113362  2014-05-19   18.77   33.9525   33.6950   33.895    1078888  CHD
115055  2016-02-08    2.56    2.5900    1.5000    2.040  121984560  CHK
115071  2016-03-02    2.62    3.7500    2.6000    3.400   76288029  CHK
115072  2016-03-03    3.37    4.7200    3.3200    4.270  138475442  CHK
115099  2016-04-12    4.84    6.1500    4.8300    6.050  183964109  CHK
220603  2016-01-11    5.40    5.4200    4.2300    4.310  117668158  FCX
289811  2015-05-29  178.62  219.7900  176.4050  214.650    9938091  HUM
349476  2016-05-19   35.19   35.7850   35.0850   17.870    1231722  LNT
595195  2016-01-14   13.42   18.4400   13.2401   18.290   42552128  WMB
595211  2016-02-08   14.93   15.0000   10.2200   11.160   62368018  WMB

        open_close_change_pct
39639               -0.250784
113362              -0.805807
115055               0.203125
115071              -0.297710
115072              -0.267062
115099              -0.250000
220603               0.201852
289811              -0.201713
349476               0.492185
595195              -0.362891
595211               0.252512


================================================================================
Suspicious high low gap
================================================================================
              date    open      high       low   close     volume  Name  \
33373   2015-08-24   70.03   75.8000   58.9200   73.10    2515928   ALK
39639   2016-04-22    3.19    3.9900    3.1800    3.99  143265305   AMD
40274   2013-10-29   47.80   62.0500   47.0700   47.82    2185959   AME
53321   2015-08-24   28.94   31.8550   25.0450   30.46    3692312   AOS
93946   2015-08-24  118.65  118.6500   94.9100  112.33    1154484   BXP
109054  2015-08-24  104.28  120.2000   92.9800  113.38   11423906  CELG
115042  2016-01-20    2.86    3.4500    2.6900    3.32   36875596   CHK
115055  2016-02-08    2.56    2.5900    1.5000    2.04  121984560   CHK
115065  2016-02-23    2.53    2.7100    2.1600    2.19   49682202   CHK
115071  2016-03-02    2.62    3.7500    2.6000    3.40   76288029   CHK
115072  2016-03-03    3.37    4.7200    3.3200    4.27  138475442   CHK
115073  2016-03-04    4.59    5.4300    4.3000    5.08  188966428   CHK
115099  2016-04-12    4.84    6.1500    4.8300    6.05  183964109   CHK
115117  2016-05-06    5.52    5.8300    4.5450    4.59   70168865   CHK
153185  2015-08-24   96.29  104.2100   81.3700  100.21   13610428   CVS
158221  2015-08-24   39.50   44.1600   34.6100   42.15   15222433   DAL
200076  2015-08-24   70.00   81.9800   61.9000   70.52    2629176   EQR
220603  2016-01-11    5.40    5.4200    4.2300    4.31  117668158   FCX
220604  2016-01-12    4.47    4.5800    3.6500    4.11  141597285   FCX
220614  2016-01-27    4.06    5.0800    4.0200    4.65   96210260   FCX
240875  2015-08-24   12.24   13.4800   10.4400   13.19   59805935     F
243393  2015-08-24   22.84   24.3800   19.3700   23.87   91236502    GE
267030  2015-08-24   81.54   85.9700   43.9100   84.31    5482704   HCA
270807  2015-08-24  110.05  115.8800   92.1685  112.54   13983094    HD
297473  2015-11-06  116.51  117.9200   90.3300  100.21    9135512  INCY
319678  2015-08-24   59.29   62.9200   50.0700   60.25   36339089   JPM
332923  2015-08-24   30.00   34.8400   27.3200   33.77   14379912    KR
368175  2015-08-24  191.87  202.2800  160.1001  197.80    2667911   MCK
371952  2015-08-24   67.80   72.9000   55.5400   70.91   13366525   MDT
408164  2015-08-24   88.75  109.6300   85.5000   96.88   59951948  NFLX
464525  2015-04-08  164.70  215.7300  164.6320  195.00   17687328  PRGO
498791  2015-08-24   48.05   52.6700   42.0500   50.34   27158813  SBUX
561834  2015-08-24  143.00  163.6000  120.3800  158.72    2739964  ULTA
574412  2015-08-06   48.99   49.5000   39.2800   44.10   33191205  VIAB
595193  2016-01-12   18.93   19.2199   15.1900   16.54   49491580   WMB
595194  2016-01-13   16.48   16.5400   12.7700   13.61   52053559   WMB
595195  2016-01-14   13.42   18.4400   13.2401   18.29   42552128   WMB
595211  2016-02-08   14.93   15.0000   10.2200   11.16   62368018   WMB
608348  2015-08-24   35.24   37.6200    5.4000   36.79    4215298    XL

        open_close_change_pct  high_low_change_pct
33373               -0.043838             0.222691
39639               -0.250784             0.203008
40274               -0.000418             0.241418
53321               -0.052522             0.213781
93946                0.053266             0.200084
109054              -0.087265             0.226456
115042              -0.160839             0.220290
115055               0.203125             0.420849
115065               0.134387             0.202952
115071              -0.297710             0.306667
115072              -0.267062             0.296610
115073              -0.106754             0.208103
115099              -0.250000             0.214634
115117               0.168478             0.220412
153185              -0.040710             0.219173
158221              -0.067089             0.216259
200076              -0.007429             0.244938
220603               0.201852             0.219557
220604               0.080537             0.203057
220614              -0.145320             0.208661
240875              -0.077614             0.225519
243393              -0.045096             0.205496
267030              -0.033971             0.489240
270807              -0.022626             0.204621
297473               0.139902             0.233972
319678              -0.016192             0.204228
332923              -0.125667             0.215844
368175              -0.030906             0.208522
371952              -0.045870             0.238134
408164              -0.091606             0.220104
464525              -0.183971             0.236861
498791              -0.047659             0.201633
561834              -0.109930             0.264181
574412               0.099816             0.206465
595193               0.126255             0.209673
595194               0.174150             0.227932
595195              -0.362891             0.281990
595211               0.252512             0.318667
608348              -0.043984             0.856459

In [155]:
# Format Data
def cleanrow(row):
    namepattern = r'[A-Z]*' # To check that all tickers contains only capital letters
    datepattern = r'(\d{4})-(\d{2})-(\d{2})*' # To check that the dates are in the YYYY-MM-DD format
    matchname = re.search(namepattern, row[6])
    matchdate = re.search(datepattern, row[0])
    
    new_row = [0, 0, 0, 0, 0, 0, 0]
    new_row[0] = row[0] if bool(matchdate) == True else None 
    new_row[1] = round(float(row[1]),2) if row[1] else None
    new_row[2] = round(float(row[2]),2) if row[2] else None
    new_row[3] = round(float(row[3]),2) if row[3] else None
    new_row[4] = round(float(row[4]),2) if row[4] else None
    new_row[5] = int(row[5]) if row[5].isdigit() else None
    new_row[6] = row[6] if bool(matchname) == True else None
    # format the original data, also check for missing data and some cases of wrong data
    # missing and wrong data are replaced by None so we could deal with them more efficiently
    # in the future
    
    return new_row

def cleandata(data):
    newdata = data
    for i in range(len(data)):
        newdata[i] = cleanrow(data[i])
    return newdata

cleandata = [dataset[0]] + cleandata(data) # Cleaned data with header, for future reference

In [156]:
# Find possible wrong value
# Find missing value

def missing_value(data):
    missing_value = []
    
    for i in range(1, len(data)):
        if None in data[i]:
            missing_value.append(i)
            # find the index of rows with missing value  
        else:
            pass
        
    return missing_value

missing_value(cleandata)

[82950,
 165735,
 165858,
 205077,
 239833,
 434380,
 434503,
 478595,
 558214,
 581907,
 598237]

In [165]:
# Using webcrawler to fill in the missing data
# and check for the wrong data
import pandas_datareader as pdr
from datetime import datetime

# Deprecated webcrawler function (Not complete)
"""
def dateconvert(date):
    daysplit = date.split('-')
    year = int(daysplit[0])
    month = int(daysplit[1])
    day = int(daysplit[2])
    day2 = datetime(year, month, day)
    day1 = datetime(2013, 1, 1)
    delta = day2-day1
    # -- 2013-01-01 = 1357016400
    sfbd = (delta.days)*86400+1357016400
    return sfbd
    # This function converts the string date in the dataset into 64-bit date used by Yahoo Finance.


def YHFinance(ticker, day, category):
    url = f'https://finance.yahoo.com/quote/{ticker}/history?period1={day}&period2={day}&interval=1d&filter=history&frequency=1d'
    print(url)
    code = requests.get(url)
    plain = code.text
    s = BeautifulSoup(plain, "html.parser")
    return s
"""

def get_data(ticker, date1, date2, category):
    year1, month1, day1 = int(date1.split('-')[0]), int(date1.split('-')[1]), int(date1.split('-')[2])
    year2, month2, day2 = int(date2.split('-')[0]), int(date2.split('-')[1]), int(date2.split('-')[2])
    data = pdr.get_data_yahoo(symbols = ticker, start = datetime(year1,month1,day1), end = datetime(year2, month2, day2))
    n = data[category]
    return round(float(n[0]),2)

def get_missing(row1, row2):
    print(row1)
    for i in range(len(row1)):
        if row1[i] == None:
            category = cleandata[0][i].capitalize()
            print(category)
            datapoint = get_data(row1[6], row1[0], row2[0], category)
            print(row1[6], row1[0], row2[0], category)
            row1[i] = datapoint
        else:
            pass
    return row1

get_missing(cleandata[82950], cleandata[82951])

['2017-07-26', None, None, None, 69.08, 3, 'BHF']
Open
BHF 2017-07-26 2017-07-27 Open
High
BHF 2017-07-26 2017-07-27 High
Low
BHF 2017-07-26 2017-07-27 Low

['2017-07-26', 69.08, 69.08, 69.08, 69.08, 3, 'BHF']

In [164]:
def wrong_value(data):    
    suspicious_high = []
    suspicious_low = []
    suspicious_openclose = []
    
    for i in range(len(data)):
        if ((data[i][2] - data[i][3])/data[i][3]) >= 0.4:
            suspicious_high.append(i)
            suspicious_low.append(i)
            # find suspicious high-low gap
        elif abs((data[i][1] - data[i][4])/data[i][4]) >= 0.4:
            suspicious_openclose.append(i)
            # find suspicious open-close gap
        elif data[i][2] < data[i][1] or data[i][2] < data[i][3] or data[i][2] < data[i][4]:
            suspicious_high.append(i)
            # find low, open, close value greater than the high value
        elif data[i][3] > data[i][1] or data[i][3] > data[i][2] or data[i][3] > data[i][4]:
            suspicious_low.append(i)
            # find high, open, close value less than low value
    return suspicious_high, suspicious_low, suspicious_openclose
    
def get_high(row1, row2, cat_num = 2):
    print(row1)
    datapoint = get_data(row1[6], row1[0], row2[0], cleandata[0][cat_num].capitalize())
    row1[cat_num] = datapoint
    return row1

def get_low(row1, row2, cat_num = 3):
    datapoint = get_data(row1[6], row1[0], row2[0], cleandata[0][cat_num].capitalize())
    row1[cat_num] = datapoint
    return row1

def get_open(row1, row2, cat_num = 1):
    datapoint = get_data(row1[6], row1[0], row2[0], cleandata[0][cat_num].capitalize())
    row1[cat_num] = datapoint
    return row1

def get_close(row1, row2, cat_num = 4):
    datapoint = get_data(row1[6], row1[0], row2[0], cleandata[0][cat_num].capitalize())
    row1[cat_num] = datapoint
    return row1

get_high(cleandata[33338], cleandata[33339])

['2015-07-02', 64.66, 65.31, 63.82, 65.01, 1109120, 'ALK']

['2015-07-02', 64.66, 65.31, 63.82, 65.01, 1109120, 'ALK']

In [46]:
class Equity:
    def __init__(self, name):
        self.name = name
        self.history = [dataset[0]]+[i for i in cleandata if i[6] == name]
    
    def RoR(self, day1, day2):
        s = [i[4] for i in self.history if i[0] == day1][0]
        St = [i[4] for i in self.history if i[0] == day2][0]
        return (St/s)-1