In [4]:
'''LSTM Model'''

'LSTM Model'

In [6]:
import pandas as pd
import numpy as np
#!!! import preprocess_data as ppd

In [67]:
'''Select and preprocess stock data'''
data =  pd.read_csv('/Users/niweichong/Desktop/Git/Tools-Project-Data-Cleaning-master/Tools-Project-Data-Cleaning/Clean_Data_Out.csv')
#shift Name column to the first column
# name = data.pop('Name')
# data.insert(0,'Name',name)

#select values needed and particular stock, modify the date to trading days
def select_stock(stock_name:str):
    data_col_chosen = data[['Name','open','close','volume',]]
    data_stock_chosen = data_col_chosen.loc[data['Name']==stock_name]
    data_stock_chosen.insert(1, 'trading day', [i+1 for i in range(len(data_stock_chosen['Name']))])
    return data_stock_chosen

data = select_stock('AAL')
data

     Name  trading day   open  close    volume
0     AAL            1  15.07  14.75   8407500
1     AAL            2  14.89  14.46   8882000
2     AAL            3  14.45  14.27   8126000
3     AAL            4  14.30  14.66  10259500
4     AAL            5  14.94  13.99  31879900
5     AAL            6  13.93  14.50  15628000
6     AAL            7  14.33  14.26  11354400
7     AAL            8  14.17  13.33  14725200
8     AAL            9  13.62  13.37  11922100
9     AAL           10  13.57  13.57   6071400
10    AAL           11  13.60  13.02   7186400
11    AAL           12  13.14  13.26   9419000
12    AAL           13  13.28  13.41   7390500
13    AAL           14  13.49  13.43   6143600
14    AAL           15  13.37  13.61   7376800
15    AAL           16  13.50  13.90   8174800
16    AAL           17  14.01  14.05   7676100
17    AAL           18  14.52  14.57  13243200
18    AAL           19  14.70  14.82   9125300
19    AAL           20  14.99  14.92  10593700
20    AAL           21  14.85  15.13   6961800
21    AAL           22  15.14  15.50   8999100
22    AAL           23  15.54  15.91  11380000
23    AAL           24  15.98  16.25   8383300
24    AAL           25  16.45  15.98  17667700
25    AAL           26  15.80  16.29   6514100
26    AAL           27  16.48  16.78  11805300
27    AAL           28  17.13  17.23  10819800
28    AAL           29  17.21  17.00  10740800
29    AAL           30  17.10  16.86   8545200
...   ...          ...    ...    ...       ...
1229  AAL         1230  52.35  52.85   2774316
1230  AAL         1231  52.80  52.40   2831434
1231  AAL         1232  52.45  52.46   1845331
1232  AAL         1233  52.42  52.03   2697096
1233  AAL         1234  52.33  52.99   4084712
1234  AAL         1235  52.86  52.34   5074850
1235  AAL         1236  52.48  52.67   3557059
1236  AAL         1237  52.78  52.65   2967756
1237  AAL         1238  52.60  52.13   3515785
1238  AAL         1239  52.97  52.08   3426021
1239  AAL         1240  53.23  53.78   7655771
1240  AAL         1241  54.49  56.42  11339858
1241  AAL         1242  56.56  58.47   7505761
1242  AAL         1243  58.79  57.98   5283872
1243  AAL         1244  58.31  58.16   3148934
1244  AAL         1245  58.00  58.34   3969309
1245  AAL         1246  58.59  58.06   3151201
1246  AAL         1247  57.99  58.10   3553916
1247  AAL         1248  57.74  58.29   3336991
1248  AAL         1249  54.35  54.79  16348479
1249  AAL         1250  54.00  53.05  10223096
1250  AAL         1251  53.65  53.07   7066094
1251  AAL         1252  52.79  52.68   5953675
1252  AAL         1253  52.45  52.59   4741808
1253  AAL         1254  53.08  54.32   5962937
1254  AAL         1255  54.00  53.88   3623078
1255  AAL         1256  53.49  52.10   5109361
1256  AAL         1257  51.99  49.76   6878284
1257  AAL         1258  49.32  51.18   6782480
1258  AAL         1259  50.91  51.40   4845831

[1259 rows x 5 columns]

In [68]:
import visualize

visualize.plot_basic(data)

ModuleNotFoundError: No module named 'visualize'